@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --charcoal: #2e5266ff;
    --slate-gray: #6e8898ff;
    --cadet-gray: #9fb1bcff;
    --timberwolf: #d3d0cbff;
    --old-gold: #e2c044ff;
    --font-family: 'Funnel Sans', sans-serif;
    --heading-font-family: 'Eagle Lake', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.tacan {
    background-color: green !important;
    color: white !important;
}

.netacan {
    background-color: red !important;
    color: white;
}

body {
    font-family: var(--font-family);
}

header {
    position: fixed;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;

    & span:first-child {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    & img {
        width: 50px;
        height: 50px;
    }

    & h1 {
        font-family: var(--heading-font-family);
        font-size: 2rem;
        color: var(--charcoal);
    }

    & p {
        font-family: var(--font-family);
        font-size: 1rem;
        color: var(--slate-gray);
        font-style: italic;
    }

    & button {
        background-color: var(--charcoal);
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.190s ease;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: var(--old-gold);
            color: black;
        }

        &:active {
            background-color: var(--timberwolf);
            color: white;
        }
    }
}

#kvizWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    & h1 {
        font-family: var(--heading-font-family);
        font-size: 3rem;
        color: var(--charcoal);
        margin-bottom: 20px;
    }

    & h2 {
        font-family: var(--heading-font-family);
        font-size: 2rem;
        color: var(--slate-gray);
        margin-bottom: 20px;
    }

    & button {
        background-color: var(--charcoal);
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.190s ease;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: var(--old-gold);
            color: black;
        }

        &:active {
            background-color: var(--timberwolf);
            color: white;
        }
    }
}

.pitanje {
    border: 1px solid var(--cadet-gray);
    min-width: 800px;
    max-width: 800px;
    padding: 20px;

    & ul {
        list-style: none;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 20px 0;
    }

    & li {
        min-width: 300px;
        background-color: var(--timberwolf);
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.190s ease;

        &:hover {
            background-color: var(--old-gold);
            color: black;
        }

        &:active {
            background-color: var(--cadet-gray);
            color: white;
        }
    }
}

#progressBar {
    width: 100%;
    height: 5px;
    background-color: var(--charcoal);
}

.progress {
    background-color: var(--old-gold);
    animation: progress 30s linear;
}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
    
}